body {
    font-family: "Lato", sans-serif;
}
#showLocation {
    background: #f5f5f5;
    margin: 3px;
    width: 100%;
    height: 59px;
    display: none;
    float: left;
    padding: 18px;
}

#location {
    background: #f5f5f5;
    margin: 3px;
    width: 100%;
    height: 59px;
    display: none;
    float: left;
    padding: 18px;
}
#mySidenav {
    width: 16%;
    height: 365px;
    color: rgb(143,142,145);
    float: left;
}
#mySidenav a {
    text-decoration: none !important;
}
.items {
    padding: 14px; 
}
#showMenu {
    float: left;
    width: 84%;
    background: ghostwhite;
    height: 365px;
    display: inline;
    padding: 31px;
    overflow-y: scroll;
}
.product {
    width: 33%;
    float: left;
    height: 90px;
}
.veg:before {
    content: ' \25CF';
    font-size: 20px;
    color: green;
}
.nonveg:before {
    content: ' \25CF';
    font-size: 20px;
    color: red;
}
.productName {
    float: left;
    padding-right: 13px;
}
.veg, .nonveg {
    float: left;
}
.productPrice {
    padding-left: 23px;
    margin-top: 6px;
}
#menuSection {
    display: none;
}